<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>講座スケジュール</title>
    <script type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <link th:href="@{/css/course/Schedule.css}" rel="stylesheet">
</head>

<body>
    <p>講座スケジュール</p>
    <div class="bigDiv">
        <div class="selectMonthBtn">
            <!-- 放置區 -->
        </div>
        <div class="selectWeekOrMonthBtn">
            <p class="text1">周</p>
            <p class="text1">月</p>
        </div>
    </div>
    <div id="calendar"></div>
    <script th:src="@{/js/course/Schedule.js}"></script>
</body>
</html>